{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
  

<div>

    <h1 class="header">Welcome!</h1>
    <h3 class="second_header">a Todolist by Hadziq Razin</h3>

    <form class="form_login" method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td class="text_input">Username</td>
                <td class="titik_koma">:</td>
                <td>
                    <input type="text" name="username" placeholder="Username" class="form-control">
                </td>
            </tr>
                    
            <tr>
                <td class="text_input">Password</td>
                <td class="titik_koma">:</td>
                <td>
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </td>
            </tr>
        </table>
        <div class="div_login_btn">
            <input class="btn login_btn" type="submit" value="LOGIN">
        </div> 
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    
    <table class="sign_up">
        <td>
            <a class="text_input">New here? </a>
            <a class="link_sign_up" href="{% url 'todolist:register' %}">Sign up!</a>
        </td>
    </table>

</div>

{% endblock content %}