{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>

<body>
    <div class = "login">
        
        <h1 class="header">Formulir Registrasi</h1>  

            <form method="POST" >  
                {% csrf_token %}  
                <div class="form_register">
                    <table>  
                        {{ form.as_table }}   
                    </table>  
                </div>
                <div class="button">
                    <table>
                        <tr> 
                            <div class="div_register_btn">
                                <td>
                                    <input class="register_btn" type="submit" name="submit" value="Register"/>
                                </td> 
                            </div>
            </form>
                            <form method="GET" action="/todolist/login/">
                                <div class="div_back_btn">
                                    <td>
                                        <input class="back_btn" type="submit" name="back" value="Back"/>
                                    </td> 
                                </div>
                            </form>
                        </tr> 
                    </table>
                </div>
            

        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}

    </div> 
</body>

{% endblock content %}