{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'todolist.css' %}">
</head>

<body>
  <table class="info">
    <tbody>
      <tr>
        <td class="hello">Hello,</td>
      </tr>
      <tr>
        <td class="name">
          <b>{{name}}</b>!
        </td>
      </tr>

    </tbody>
  </table>

  <table class="btn_atas">
    <tr>
      <th>
          <div class="div_add_btn">
            <button id="add_btn" class="add_btn">
                Create New Task
            </button>
          </div>
      </th>
      <th>
        <div class="div_logout_btn">
          <button class="logout_btn">
            <a class="logout_link" href="{% url 'todolist:logout' %}">Logout</a>
          </button>
        </div>
      </th>
    </tr>
  </table>


  <div id="card_group">
  </div>

  <div id="modal_container" class="modal_container">
    <div class="modal">
      <h1 class="header">Create A New Task</h1>
      <div class="form_create">
        <table>
            <form id="form_new" method="POST" action="/todolist/create-task/">
                {% csrf_token %}
                <tr>
                    <td class="text_input">Title</td>
                    <td class="titik_koma">:</td>
                    <td><input type="text" name="task_title" placeholder="Your task title" class="form-control"></td>
                </tr>
                <tr>
                    <td class="text_input">Description</td>
                    <td class="titik_koma">:</td>
                    <td><textarea name="description" class="form-control" rows="4"></textarea></td>
                </tr>
        </table>
      </div>
          
      <table class="table_button">
              <tr>
                  <td>
                      <div class="div_create_btn">
                          <input id="create_btn" class="create_btn" type="submit" value="Create">
                      </div>
                  </td>
          </form>
              <td>
                <button id="cancel_btn" class="cancel_btn">
                  Cancel
                </button>
              </td>
          </tr>
      </table>
    </div>
  </div>

  <table class="last_session">
    <td>
      <h5>Last login session: {{ last_login }}</h5>
    </td>
  </table>

  <script>
      async function getDataJson() {
          return fetch("{% url 'todolist:get_todolist_json' %}").then((result) => result.json())
      }

      async function refreshTodolist() {
          document.getElementById('card_group').innerHTML = ""
          const todolist = await getDataJson()
          let card = ``
          todolist.forEach((task) => {
            console.log(task.fields.date)
              card += `\n
              <div class="card">
                  <div class="title">
                      ${task.fields.title}
                  </div>
                  <div class="date">
                      ${task.fields.date}
                  </div>
                  <p>${task.fields.description}</p>
                  <div class="button">
                      <div class="div_update_btn">
                          <button class="update_btn">
                            <a class="update_link" href="update-status/${task.pk}">${task.fields.status}</a>
                          </button>
                      </div>
                      <div class="div_delete_btn">
                          <button class="delete_btn">
                            <a class="delete_link" onclick="delete_todolist(${task.pk})">❌</a>
                          </button>
                      </div>
                  </div>
              </div>`
          });
          document.getElementById('card_group').innerHTML = card
      }

      function addTodolist() {
          document.getElementById('modal_container').style.display = "none"
          fetch("{% url 'todolist:create_task' %}", {
              method: "POST",
              body: new FormData(document.querySelector('#form_new'))
          }).then(refreshTodolist)
          return false
      }

      function show_modal() {
          document.getElementById('modal_container').style.display = "flex"
      }

      function cancel_modal() {
          document.getElementById('modal_container').style.display = "none"
      }

      function delete_todolist(id) {
          console.log(id)
          fetch("/todolist/delete/${id}").then(refreshTodolist)
      }

      document.getElementById('add_btn').onclick = show_modal
      document.getElementById('create_btn').onclick = addTodolist
      document.getElementById('cancel_btn').onclick = cancel_modal
      // document.getElementsByClassName('delete_btn').onclick = cancel_modal
      refreshTodolist()

  </script>

  {% endblock content %}
</body>
