{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'todolist.css' %}">
</head>

<body>

  <table class="info">
    <tbody>
      <tr>
        <td class="hello">Hello,</td>
      </tr>
      <tr>
        <td class="name">
          <b>{{name}}</b>!
        </td>
      </tr>

    </tbody>
  </table>

  <table class="btn_atas">
    <tr>
      <th>
        <form method="GET" action="create-task/">
          <div class="div_add_btn">
            <input class="btn add_btn" type="submit" value="Create New Task">
          </div>
        </form>
      </th>
      <th>
        <div class="div_logout_btn">
          <button class="logout_btn">
            <a class="logout_link" href="{% url 'todolist:logout' %}">Logout</a>
          </button>
        </div>
      </th>
    </tr>
  </table>


  <div class="card_group">
    {% for task in data_todolist %}
      <div class="card">
          <div class="title">
            {{ task.title }}
          </div>
          <div class="date">
            {{ task.date }}
          </div>
        <p>{{ task.description }}</p>
        <div class="button">
          <div class="div_update_btn">
            <button class="update_btn">
              <a class="update_link" href="update-status/{{task.pk}}">{{task.status}}</a>
            </button>
          </div>
          <div class="div_delete_btn">
            <button class="delete_btn">
              <a class="delete_link" href="delete/{{task.pk}}">❌</a>
            </button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


  <table class="last_session">
    <td>
      <h5>Last login session: {{ last_login }}</h5>
    </td>
  </table>

  {% endblock content %}
</body>
