body {
    border-collapse: collapse;
    display: grid;
    justify-content: center;
    padding: 30px 30px;
    font-size: 10px;
    background-color: #111111;
}

.info{
    font-size: 15px;
    color: rgb(158, 158, 158);
    border-collapse: collapse;
    max-width: fit-content;
    text-align: left;
}

.katalog {
    border-collapse: collapse;
    text-align: left;
    box-shadow: 0px 0px 7px #ff0000;
    background-color: white;
    padding: 170px 100px;
    border-radius: 0px 30px 0px 30px;
    overflow: hidden;
    margin: 25px 0;
}

.katalog th, tr, td {
    padding: 12px 15px;
}

.katalog thead tr {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: #dadada;
    color: #c42d2d;
    font-weight: bold;
    font-size: 0.7rem;
    text-align: center;
}

.katalog tbody tr {
    background-color: #202020;
    color: white;
    border-bottom: 1px solid rgb(59, 59, 59);
}

.katalog tbody tr:nth-last-of-type(even) {
    background-color: rgb(40, 40, 40);
}

.katalog tbody tr:hover {
    background-color: #3e1010;
    
}
