body {
    border-collapse: collapse;
    display: grid;
    justify-content: center;
    padding: 30px 30px;
    font-size: 10px;
}

.info{
    font-size: 15px;
    color: #666;
    border-collapse: collapse;
    max-width: fit-content;
    text-align: left;
}

.katalog {
    border-collapse: collapse;
    text-align: left;
    box-shadow:0 5px 10px #ababab;
    background-color: white;
    padding: 170px 100px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    margin: 25px 0;
}

.katalog th, tr, td {
    padding: 12px 15px;
}

.katalog thead tr {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: #37ae65;
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
    text-align: center;
}

.katalog tbody tr {
    border-bottom: 1px solid #ddd;
}

.katalog tbody tr:nth-last-of-type(even) {
    background-color: rgb(238, 238, 238);
}

.katalog tbody tr:hover {
    background-color: #e2ffec;
}