body {
    border-collapse: collapse;
    display: grid;
    justify-content: center;
    padding: 20px 20px;

}
table {
    border-collapse: collapse;
    text-align: left;
    box-shadow:0 5px 10px #ababab;
    background-color: white;
    padding: 170px 100px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;


}

table th, tr, td {
    padding: 24px 30px;
}

table thead tr {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: #37ae65;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;

}

table tbody tr {
    border-bottom: 1px solid #ddd;


}

table tbody tr:nth-last-of-type(even) {
    background-color: rgb(238, 238, 238);
}