body {
    border-collapse: collapse;
    display: grid;
    justify-content: center;
    padding: 30px 30px;
    font-size: 15px;
    font-family: verdana;
    background-color: rgb(32, 103, 70);
    color: rgb(232, 255, 232);
}

.form_register {
    padding: 15px;
    border-collapse: collapse;
    background-color: #64646438;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0px 0px 3px #aaffaa;
    margin-bottom: 15px;
}

.button {
    text-align: center;
    display: grid;
    padding-bottom: 15px;
    border-collapse: collapse;
    background-color: #64646438;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0px 0px 3px #aaffaa;
    margin-bottom: 15px;
}

.div_register_btn {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-right: 5px;
}

.register_btn {
    height: 30px;
    width: 80px;
    background-color: #43936D;
    color: #E8FFE8;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 1px 1.5px 0px #1c3d2e;
    border-style: hidden;
}

.register_btn:hover {
    background-color: #57bb8c;
    transition: .15s;
}

.register_btn:active {
    background-color: #43936D;
    box-shadow: .5px 1px #132a1f;
    transform: translateX(.5px);
    transform: translateY(.5px);
}

.div_back_btn {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 5px;
}

.back_btn {
    height: 30px;
    width: 80px;
    background-color: #43936D;
    color: #E8FFE8;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 1px 1.5px 0px #1c3d2e;
    border-style: hidden;
}

.back_btn:hover {
    background-color: #57bb8c;
    transition: .15s;
}

.back_btn:active {
    background-color: #43936D;
    box-shadow: .5px 1px #132a1f;
    transform: translateX(.5px);
    transform: translateY(.5px);
}
