body {
    border-collapse: collapse;
    display: grid;
    justify-content: center;
    padding: 30px 30px;
    font-size: 15px;
    font-family: verdana;
    background-color: rgb(232, 255, 232);
    color: rgb(32, 103, 70);
}

.info {
    text-shadow: .5px .5px .5px #1c3d2e;
    margin-bottom: 20px;
    text-align: center;
}

.hello {
    font-size: 20px;
    font-weight: bold;
}

.name {
    text-transform: capitalize;
    text-shadow: 1px 1px 0px #1c3d2e;
    font-size: 50px;
    color: #43936D;
}

.card_group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    box-shadow: 3px 3px 0px #00000098;
    background-color: #1c3d2e;
    margin: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-style: hidden;
    font-size: 15px;
    color: #E8FFE8;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    width: 500px;
}

.card:hover {
    box-shadow: 4px 4px 0px #00000098;
    background-color: #6ceab1;
    color: rgb(45, 45, 45);
    transition: .25s;
}

.title {
    font-size: 17px;
    text-transform: uppercase;
    text-align: left;
}

.date {
    margin-top: 5px;
    font-size: 8px;
    text-align: left;
    font-weight: lighter;
}


.div_create_btn {
    text-align: right;
    padding-bottom: 20px; 
    margin-right: 5px; 
}

.create_btn {
    height: 40px;
    width: 150px;
    background-color: #43936D;
    color: #E8FFE8;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 1px 1.5px 0px #1c3d2e;
    border-style: hidden;
    font-size: 15px;
}

.create_btn:hover {
    background-color: #57bb8c;
    transition: .15s;
    cursor: pointer;
}

.create_btn:active {
    background-color: #43936D;
    box-shadow: .5px 1px #132a1f;
    transform: translateX(.5px);
    transform: translateY(.5px);
  }

.button {
    display: flex;
    justify-content: flex-end;
}

.div_update_btn {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px; 
    margin-right: 5px;
}

.update_btn {
    height: 40px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 1px 1.5px 0px #1c3d2e;
    border-style: hidden;
}

.update_btn:hover {
    background-color: rgba(255, 255, 255, 0.911);
    transition: .15s;
    cursor: pointer;
}

.update_btn:active {
    background-color: #ffffff;
    box-shadow: .5px 1px #132a1f;
    transform: translateX(.5px);
    transform: translateY(.5px);
}

.update_link:link {
    text-decoration: none;
    color: #1c3d2e;
}
.update_link:visited {
    text-decoration: none;
    color: #1c3d2e;
}

.div_delete_btn {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;  
}

.delete_btn {
    height: 40px;
    width: 50px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 1px 1.5px 0px #1c3d2e;
    border-style: hidden;
}

.delete_btn:hover {
    background-color: rgba(255, 255, 255, 0.911);
    transition: .15s;
    cursor: pointer;

}

.delete_btn:active {
    background-color: #ffffff;
    box-shadow: .5px 1px #132a1f;
    transform: translateX(.5px);
    transform: translateY(.5px);
}

.delete_link:link {
    text-decoration: none;
}

.delete_link:visited {
    text-decoration: none;
}

.div_logout_btn {
    text-align: left;
    padding-bottom: 20px;  
    margin-left: 5px;  
}

.logout_btn {
    height: 40px;
    width: 150px;
    background-color: #43936D;
    color: #E8FFE8;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 1px 1.5px 0px #1c3d2e;
    border-style: hidden;
    font-size: 15px;
}

.logout_btn:hover {
    background-color: #57bb8c;
    transition: .15s;
}

.logout_btn:active {
    background-color: #43936D;
    box-shadow: .5px 1px #132a1f;
    transform: translateX(.5px);
    transform: translateY(.5px);
}

.logout_link:link {
    text-decoration: none;
    color: #E8FFE8;
}

.logout_link:visited {
    text-decoration: none;
    color: #E8FFE8;
}

.last_session {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    height: 50px;
    width: 350px;
    border-collapse: collapse;
    background-color: #6464641d;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0px 0px 3px #aaffaa;
}
